@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'urbanist';
    font-style: normal;
    src: url('./fonts/Urbanist.woff');
}

@font-face {
    font-family: 'urbanist';
    font-style: italic;
    src: url('./fonts/Urbanist-Italic.woff');
}

* {
    font-family: 'urbanist';
    font-weight: normal;
}

.btn-outline {
    @apply px-2 rounded border border-main text-main py-1 hover:bg-main hover:text-sub text-sm;
}

.btn {
    @apply px-2 rounded border bg-main text-sub py-1 hover:bg-white hover:text-main hover:border-main text-sm;
}

.input {
    @apply outline-none border border-light-green rounded px-3 py-2 focus:border-main text-main placeholder:text-more-light-green;
}

input[type=password] {
    @apply font-black tracking-widest placeholder:font-normal;
}