@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'urbanist';
    font-style: normal;
    src: url('./fonts/Urbanist.woff');
}

@font-face {
    font-family: 'urbanist';
    font-style: italic;
    src: url('./fonts/Urbanist-Italic.woff');
}

* {
    font-family: 'urbanist';
    font-weight: normal;
}

body {
    @apply bg-green-theme;
}

.wrap {
    @apply bg-white rounded-[10px] p-4;
}

.btn-outline {
    @apply px-2 rounded border border-main text-main py-1 hover:bg-main hover:text-sub text-sm;
}

.btn {
    @apply px-2 rounded border bg-main text-sub py-1 hover:bg-white hover:text-main hover:border-main text-sm;
}

.input {
    @apply outline-none border border-light-green rounded px-3 py-2 focus:border-main text-main placeholder:text-more-light-green;
}

input[type=password] {
    @apply font-black tracking-widest placeholder:font-normal;
}

.social-link {
    @apply flex gap-1 items-center border rounded px-3 py-1 border-light-green;
}


/* Scrollbars styling */
.thin-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(210, 210, 214);
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

.thin-scrollbar::-webkit-scrollbar-button {
    background-color: rgb(186, 184, 190);
    border-radius: 5px;
}


/* Keyframes */
@keyframes slide-in-from-right {
100% {
    margin-right: 0;
}
}

@-webkit-keyframes slide-in-from-right {
100% {
    margin-right: 0;
}
}

@keyframes fade-in {
100% {
    opacity: 1;
}
0% {
    opacity: 0;
}
}

@-webkit-keyframes fade-in {
100% {
    opacity: 1;
}
0% {
    opacity: 0;
}
}