@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'urbanist';
    font-style: normal;
    src: url('./fonts/Urbanist.woff');
}

@font-face {
    font-family: 'urbanist';
    font-style: italic;
    src: url('./fonts/Urbanist-Italic.woff');
}

* {
    font-family: 'urbanist';
    font-weight: normal;
}

.btn-outline {
    @apply px-2 rounded border border-main text-main py-1 hover:bg-main hover:text-sub text-sm;
}
